[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.0"
praw = "==6.4.0"
prawcore = "==1.0.1"
selenium = "==3.141.0"

[dev-packages]
black = "==19.10b0"
pytest = "==5.2.2"
setuptools = "==41.6.1"
twine = "==2.0.0"
wheel = "==0.33.6"

[requires]
python_version = "3.7.3"
